In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,mean_absolute_error
from sklearn.metrics import r2_score as r2
import statsmodels.api as sm

In [ ]:
df = pd.read_csv('ml_movies.csv')
df.head()

,Unnamed: 0,Series_Title,Released_Year,Runtime,Genre,Genre2,Genre3,a,Meta_score,Director,...,Biography Ind,Crime Ind,Sport Ind,Western Ind,Comedy Ind,Family Ind,Romance Ind,Drama Ind,Animation Ind,War Ind
0,2,Avatar,2009,162,Action,Adventure,Fantasy,7.8,83,James Cameron,...,0,0,0,0,0,0,0,0,0,0
1,4,Titanic,1997,194,Drama,Romance,NaN,7.8,75,James Cameron,...,0,0,0,0,0,0,1,1,0,0
2,7,The Dark Knight,2008,152,Action,Crime,Drama,9.0,84,Christopher Nolan,...,0,1,0,0,0,0,0,1,0,0
3,9,The Dark Knight Rises,2012,164,Action,Adventure,NaN,8.4,78,Christopher Nolan,...,0,0,0,0,0,0,0,0,0,0
4,10,E.T. the Extra-Terrestrial,1982,115,Family,Sci-Fi,NaN,7.8,91,Steven Spielberg,...,0,0,0,0,0,1,0,0,0,0

In [ ]:
X = df.drop('Inflation-Adjusted Gross',axis=1)
y = df['Inflation-Adjusted Gross']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=100)
model = LinearRegression()

In [ ]:
genre_test=X_test[["Biography Ind", "Crime Ind", "Sport Ind", "Western Ind", "Comedy Ind", "Family Ind", "Romance Ind", "Drama Ind", "Animation Ind", "War Ind", "Action Ind", "Sci-Fi Ind", "Thriller Ind", "Musical Ind"]]
genre_train=X_train[["Biography Ind", "Crime Ind", "Sport Ind", "Western Ind", "Comedy Ind", "Family Ind", "Romance Ind", "Drama Ind", "Animation Ind", "War Ind", "Action Ind", "Sci-Fi Ind", "Thriller Ind", "Musical Ind"]]

In [ ]:
genre_train[genre_train.isna().any(axis=1)]

Empty DataFrame
Columns: [Biography Ind, Crime Ind, Sport Ind, Western Ind, Comedy Ind, Family Ind, Romance Ind, Drama Ind, Animation Ind, War Ind, Action Ind, Sci-Fi Ind, Thriller Ind, Musical Ind]
Index: []

In [ ]:
y_train= y_train.dropna()
genre_train = genre_train.dropna()
genre_test = genre_test.dropna()
y_test = y_test.dropna()

In [ ]:
model.fit(genre_train, y_train)
all_genre_preds = model.predict(genre_test)

In [ ]:
all_genre_MSE = mean_squared_error(y_test, all_genre_preds)
all_genre_RMSE = np.sqrt(all_genre_MSE)
print(all_genre_RMSE)

65678246.264145404

In [ ]:
all_genre_r2=r2(y_test, all_genre_preds)
all_genre_ar2 = 1 - (1-all_genre_r2)*(len(y_test)-1)/(len(y_test)-genre_test.shape[1]-1)
print("R2:",all_genre_r2, "Adjusted R2:", all_genre_ar2)

R2: 0.07080457057697198 Adjusted R2: -0.025556436918749537

In [ ]:
X_trainer = X_train[['No_of_Votes', 'Famous Director Ind', "a", 'Action Ind']]
X_tester = X_test[['No_of_Votes', 'Famous Director Ind', 'a', 'Action Ind']]
model.fit(X_trainer, y_train)
votes_dir_preds = model.predict(X_tester)

MSE = mean_squared_error(y_test, votes_dir_preds)
RMSE = np.sqrt(MSE)
print(RMSE)

new_r2=r2(y_test, votes_dir_preds)
new_ar2 = 1 - (1-new_r2)*(len(y_test)-1)/(len(y_test)-X_trainer.shape[1]-1)
print("R2:",new_r2, "Adjusted R2:", new_ar2)

61700609.535918504
R2: 0.1799451939363539 Adjusted R2: 0.15732299238977054